.btn-sidebar:hover {
  background-color: #313131;
  font-weight: bold;
  color: #fff;
}

.fw-bold-hover:hover {
  font-weight: bold;
}

/* Sidebar */
.sidebar {
  max-width: 205px;
  min-height: 100%;
  position: sticky;
}

.sidebar-height {
  min-height: 89vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media (max-width: 768px) {
  .sidebar {
    max-width: 95px;
    min-height: 100vh;
  }

  .sidebar-height {
    min-height: 89vh;
    height: 100%;
  }
}

.mw-700 {
  max-width: 800px;
}

.mw-80{
  min-width: 80px;
}

/* Charts CSS */
.report-card {
  max-width: 800px;
  margin: 0 auto;
}

.chart-wrapper {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.bar-chart-wrapper {
  width: 100%;
  max-width: 500px;
  height: 200px;
  margin: auto;
}

@media (min-width: 768px) {
  .bar-chart-wrapper {
    height: 250px;
  }
}
